*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2e63;
    font-family: sans-serif;
    user-select: none;

}
button{
    border: none;
    outline: none;
}
.container{
    background-color: #2b2e63;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(80%);
}
.playbtn{
    background-color: #3e8de3;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
}
.playbtn:hover{
    border-radius: 10px;
    background-color: #007CC7;
}
.title{
    font-size: 5rem;
    margin-bottom: 3.5rem;
    color: #ced2d4;
    /*
       61828a
       dfe9eb
       abc3cd
       a9cccf
       798dc5     
       2b2e63
       cod7fb
       3e8de3
    */
}
nav{
    width: 100%;
    display: flex;
    background-color: #2b2e63;
    color: white;
    text-transform: capitalize;
    padding: 8px 3rem;
    align-items: center;

}
ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
    list-style-type: none;
    cursor: pointer;
}
li{
    margin: 10px 1.5rem;
    font-size: 1.6rem;
    padding: 10px;
    border: 2px dotted #007CC7;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(94, 93, 93),-1px -1px 3px rgb(200, 14, 14);
    user-select: none;

}
li:hover{
    background-color: #12232E;
    border-radius: 5px;
    color: rgb(201, 40, 40);

}
.logo{
    font-size: 3rem;
    color: #c0d7fb;
    user-select: none;
}
.joinpage{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 13, 159);
    color: white;
     box-shadow: 2px 3px 20px rgba(18, 13, 159) ,-1px -1px 8px rgb(241, 79, 79);
    transform: translateY(50%);

}
.joinpage h1 {
    color: rgb(199, 189, 189);
    margin: 0px 0 10px;
    user-select: none;


}
.joinpage input{
    width: 200px;
    height: 28px;
    margin: 13px 0;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 16px 10px;
    font-size: 1.2rem;
}
.joinpage button{
    margin-bottom: 1.5rem;
    width: 130px;
    height: 40px;
    font-size: 1.4rem;
    background-color: #007CC7;
     border-radius: 5px;
    margin: 0px 0 10px;

}
.joinpage h2{
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-size: 2rem;
    color: #c0d7fb;

}
.playbtn a{
    text-decoration: none;
    color: white;
}
.card{
    width: 700px;
    height: 430px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px ;
    transform: translateY(15%);
}
.card h1{
    border-radius: 10px;
     text-transform: capitalize;
     color: white;
     text-align: center;
     margin-bottom: 1rem;

}
#opt{
    
    margin: 8px 7rem;
    padding: 0.5rem 0px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;

}
.card input{
    margin-left: 2rem;
}
.card span{
    text-transform: capitalize;
    margin: 50px;
    font-size: 1.2rem;
    color: black;
}
#opt:hover{
    background-color: rgb(214, 214, 218);
}
.nbtn{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #275777;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.top_card{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rbtn{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(0, 42, 255);
    display: none;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    color: white;
}
.rbtn:hover{
    background-color: rgba(0, 42, 255,0.4);
    color: rgb(23, 203, 13);

}
.score{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    display: none;
    text-transform: capitalize;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    
}
@media screen and ( max-width:577px ) {
    .logo{
        margin-right: 8rem;

    }
    nav{
        flex-direction: column;
        position: relative;
    }
    ul{
        flex-direction: column;

        width: 133%;
        margin-top: 1rem;
        display: none;

    }
    li{
        text-align: center;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #2d2e2f;
        background-color: #3e8de3;
        margin: 0;
    }
    .title{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 15px;
    }
    .playbtn{
         width: 220px;
         height: 50px;
         margin-bottom: 10rem;
    }
    .menu{
        position: absolute;
        margin-top: 0.9rem;
        padding-left: 5rem;
        right: 2rem;
        top: 1rem;

   }
    .menu div{
        width: 40px;
        height: 3px;
        background-color: white;
        margin-bottom: 7px;
    }
    .show-menu{
        display: block;
    }
   
    .joinpage{
        width: 350px;
    }
    #opt{
        margin: 10px 11rem;
        padding: 0.5rem 0px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid black;
    }
    
    .card h1{
        width: 300px;
        height: 400px;
        border-radius: 10px;
         text-transform: capitalize;
         color: white;
         margin: 0 auto ;
         text-align: center;
         font-size: 1.6rem;
    }
}